* {
    box-sizing: inherit;
    font-family: inherit;
}

:root {
    --gray-1: #eeeeee;
    --gray-2: #dddddd;
    --gray-3: #cccccc;
    --gray-4: #bbbbbb;
    --gray-5: #aaaaaa; 
    --input-padding: .5rem;
    --input-width: max(200px, 15vw);
}

body {
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

div.main-content {
    min-height: 100vh;
    background-color: var(--gray-5);
    display: flex;
}

div.content-right {
    background-color: ghostwhite;
    flex: 5;
    position: relative;
}

div.content-left {
    background-image: url(static/images/backdrop-upscale.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
    position: relative;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.3);
    flex: 3;
    color: white;
}

div.splash-banner {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1rem;
    text-align: center;
    margin-top: 5vh;
    width: 100%;
}

h2.splash-text{
    font-size: 72pt;
}


div.credit {
    text-align: center;
    padding: 0.5rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 5vh;
    font-size: 12pt;
}

div.org-info {
    margin-right: auto;
    padding: 1rem;
    gap: 1rem;
    overflow-wrap: break-word;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

div.org-logo img {
    width: min(20vw, 250px);
}

h3.org-text {
    color: var(--gray-5);
    margin-top: 1rem;
    width: 40%;
    text-align: center;
    font-size: 36pt;
}

form.signup-form {
    width: 100%;
    top: max(35vh, 200px);
    position: absolute;
}

div.form-group {
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.3), 0px -4px 4px rgba(0, 0, 0, 0.1);
}


fieldset {
    padding: 0;
    margin: 0;
    border: none;
    width: 100%;
}
legend {
    font-weight: normal;
    font-size: 22pt;
    margin-bottom: 2rem;
}

div.form-box {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

div.input-group {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 0rem;
    margin: 1rem;
    margin-left: 0;
}


label {
    font-weight: 100;
    font-size: 12pt;
}

button[type="submit"] {
    margin-left: 1vw;  
    margin-top: 2vh;
    padding: 1rem 2rem 1rem 2rem ;
    width: clamp(300px, 300px, 10vw);
    border-radius: 5px;
    text-align: center;
    font-size: 16pt;
    font-weight: 500;
    border: none;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

input, select {
    font-size: 12pt;
    width: var(--input-width);
    border-radius: 5px;
}

input[type="number"] {
    padding: var(--input-padding);
}

input[type="text"]{
    padding: var(--input-padding);
}

select {
    padding: var(--input-padding);
    width: var(--input-width);
}

input.special-skills {

}

h5.org-description {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vmin;
    width: 75%;
    text-align: left;
    font-size: 28pt;
}


input {
    height: fit-content ;
}

