* {
    box-sizing: inherit;
    font-family: inherit;
}

:root {
    --gray-1: #eeeeee;
    --gray-2: #dddddd;
    --gray-3: #cccccc;
    --gray-4: #bbbbbb;
    --gray-5: #aaaaaa; 
    --input-padding: .5rem

}

body {
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

div.main-content {
    min-height: 100vh;
    background-color: var(--gray-5);
    display: flex;
}

div.content-right {
    background-color: ghostwhite;
    flex: 5;
    position: relative;
}

div.content-left {
    position: relative;
    background-color: var(--gray-1);
    flex: 3;
}

div.splash-banner {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1rem;
    text-align: center;
    margin-top: 5vh;
    width: 100%;
}

h2.splash-text{
    font-size: 72pt;
}


div.credit {
    text-align: center;
    padding: 0.5rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 5vh;
    font-size: 12pt;
}

div.org-info {
    margin-right: auto;
    padding: 1rem;
    gap: 1rem;
    overflow-wrap: break-word;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

div.org-logo img {
    width: min(20vw, 250px);
}

h3.org-text {
    color: var(--gray-5);
    margin-top: 1rem;
    width: 40%;
    text-align: center;
    font-size: 36pt;
}

form.signup-form {
    width: 100%;
    top: max(35vh, 200px);
    position: absolute;
}

fieldset {
    margin: 0;
    border: none;
    padding: 2rem;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 8px 4px rgba(0, 0, 0, 0.3), 0px -4px 4px rgba(0, 0, 0, 0.1);
}

div.form-box {
    display: flex;
    flex-direction: row;
}
div.input-group {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
}

label {
    font-weight: lighter;
    font-size: 16pt;
}
button[type="submit"] {
    margin-left: 1vw;  
    margin-top: 2vh;
    padding: 1rem 2rem 1rem 2rem ;
    border-radius: 5px;
    text-align: left;
}

input[type="number"] {
    width: 33%;
    padding: var(--input-padding);
    border-radius: 2.5px;
}

input[type="text"]{
    padding: var(--input-padding);
}

select {
    padding: var(--input-padding);
    width: fit-content
}

h5.org-description {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    width: 75%;
    text-align: center;
    font-size: 28pt;
}

input {
    height: fit-content ;
}

